#ErrorMsg {
    -fx-text-fill: red;
    -fx-font-family: "Times New Roman";
}
#Toolbar {
    -fx-background-color: #336699;
}
#Toolbar-black-label {
    -fx-text-fill: black;
    -fx-font-family: "Algerian";
}
#Toolbar-yellow-label {
    -fx-text-fill: yellow;
    -fx-font-family: "Algerian";
}
.button {
    -fx-font-family: "Algerian";
    -fx-background-color: DodgerBlue;
    -fx-text-fill: white;
}
#ComboBox {
    -fx-background-color: DodgerBlue;
    -fx-font-family: "Algerian";
}
.label {
    -fx-font-family: "Algerian";
}
