#ErrorMsg {
    -fx-text-fill: red;
}
#Toolbar {
    -fx-background-color: #336699;
}
#Toolbar-black-label {
    -fx-text-fill: black;
}
#Toolbar-yellow-label {
    -fx-text-fill: yellow;
}
.button {
    -fx-background-color: DodgerBlue;
    -fx-text-fill: white;
}
#ComboBox {
    -fx-background-color: DodgerBlue;
    -fx-text-fill: white;
}
span.crosshair {
    -fx-cursor: crosshair;
}
